*{
    color: white;
}
input{
    background-image: linear-gradient(rgb(160, 157, 157),rgb(41, 42, 43));
    color: white;
}
option{
    color: white;
    background-color: grey;
}
#valor1, #valor2, #valor3 {
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

h1, h2, h3, h5, h6{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: white;
}
label{
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}
#cabeza{
    color: white;
}
.form{
    color: white;
    font-weight: 500;
}
::placeholder{
    color: white;
}